form.create-note{
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-note input,form.create-note textarea{
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2rem;
    resize: none;
}

form.create-note button{
    position: absolute;
    right: 18px;
    bottom: -18px;
    background-color: #F9EBC8;
    border-radius: 50%;
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
    outline: none;
}


form.create-note button:hover{
    background-color: #4b4319;
}